.customButtons {
    width: 50%;
    background-color: #d59c2a;
    color: #000000;
}
  
.customButtons2 {
     width: 50%;
     background-color: #fed600;
     color: #000000;
}

#logo {
    width: 25%;
    height: auto;
}